// Importar funciones de Bootstrap
@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/mixins";

// Personalización de colores
$primary: #ff5733;
$secondary: #6c757d;
$success: #28a745;
$danger: #dc3545;

// Fuentes y sombras
$enable-shadows: true;